<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1_Lowercase2Uppercase.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>2_StatisticalPlotting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3_IncrementalConversion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>4_GetBin1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5_GetOnce.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6_CalcDate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>7_Calender.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA070F57277DD9BB00C96C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA070F64277DE54F00C96C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA070F6F277DE57D00C96C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA070F7A277DEF6500C96C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA070F90277DF24000C96C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA070FAE277E956B00C96C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FACFBF34277DD04200F50C3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
